{% extends "base.html" %}

{% block container_content %}
<h1>Align chapters</h1>

<!-- <img src="{{ sim_plot }}" alt="Similarity plot."> -->
<!-- <img src="{{ match_plot }}" alt="Matching sent plot."> -->

<div>
    Src:
    <a class="btn btn-info" href="{{ url_for('epub_align_cache', src_move=-10) }}">
        - 10
    </a>
    <a class="btn btn-info" href="{{ url_for('epub_align_cache', src_move=10) }}">
        + 10
    </a>
    Dst:
    <a class="btn btn-info" href="{{ url_for('epub_align_cache', dst_move=-10) }}">
        - 10
    </a>
    <a class="btn btn-info" href="{{ url_for('epub_align_cache', dst_move=10) }}">
        + 10
    </a>
    <a class="btn btn-info" href="{{ url_for('epub_align_cache', ignore_cached_match=True) }}">
        Ignore cached match
    </a>
    <a class="btn btn-info" href="{{ url_for('epub_align_cache', next_chapter=True) }}">
        Next chapter
    </a>
    <a class="btn btn-info" href="{{ url_for('epub_align_cache', save_epub=True) }}">
        Save EPub
    </a>
</div>

<div style="padding: 20px 0 20px 0;">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">English</th>
                <th scope="col">French</th>
                <th scope="col" style="text-align: center;">SRC</th>
                <th scope="col" style="text-align: center;">DST</th>
                <th scope="col" style="text-align: center;">MATCH</th>
            </tr>
        </thead>
        <tbody>
            {% for info in info_zip %}
            <tr>
                {% set is_highlighted = info[2]==curr_i_src %}
                <td {% if is_highlighted %} class="table-primary" {% else %} {% endif %}
                    style="width: 410px; word-wrap: break-word; text-align: justify;">
                    <p {% if is_highlighted %} class="lead" {% else %} {% endif %}>
                        {{ info[0] }}
                    </p>
                </td>
                <td style="width: 410px; word-wrap: break-word; text-align: justify;">{{ info[1] }}</td>
                <td style="width: 50px;">
                    <a class="btn btn-info" href="{{ url_for('epub_align_cache', src_pick=info[2]) }}">
                        {{ info[2] }}
                    </a>
                </td>
                <td style="width: 50px;">
                    <a class="btn btn-info" href="{{ url_for('epub_align_cache', dst_pick=info[3]) }}">
                        {{ info[3] }}
                    </a>
                </td>
                <td style="width: 50px;">
                    {{ info[4] }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}