{% extends "base.html" %}

{% block container_content %}

<div class="container">
    <!-- header -->
    <div class="row mb-5">
        <div class="col d-flex justify-content-center">
            <h1>Align chapters</h1>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
            <img src="{{ sim_fig_str }}" alt="Similarity plot.">
            <img src="{{ align_fig_str }}" alt="Similarity plot.">
        </div>
    </div>
</div>

{% endblock %}