{% extends "base.html" %}

{% block container_content %}

<div class="container mb-4" style="max-width: 700px; margin-top: 200px;">
    <form method="POST" action="{{ url_for('load_ep') }}" enctype="multipart/form-data">

        <!-- header -->
        <div class="row mb-5">
            <div class="col d-flex justify-content-center">
                <h1>Load books and select languages</h1>
            </div>
        </div>

        <!-- src input -->
        <div class="row mb-3">
            <div class="col d-flex justify-content-center">
                <h3>Source book:</h3>
            </div>
        </div>
        <div class="row mb-4">
            <!-- src label -->
            <!-- <div class="col-md-1 align-self-center">
                <span style="font-size: large; font-weight: bold;">Src:</span>
            </div> -->
            <!-- src file input -->
            <div class="col">
                <input type="file" name="file_src" accept=".epub" class="form-control">
            </div>
            <!-- src lt select -->
            <div class="col-md-auto">
                <select name="lt_src" class="form-select">
                    {%- for lt in lts_list %}
                    <option {% if lt.tag==lt_src_default %}selected {% else %}{% endif %}value="{{ lt.tag }}">
                        {{ lt.name }}
                    </option>
                    {%- endfor %}
                </select>
            </div>
        </div>

        <!-- dst input -->
        <div class="row mb-3">
            <div class="col d-flex justify-content-center">
                <h3>Destination book:</h3>
            </div>
        </div>
        <div class="row mb-4">
            <!-- dst label -->
            <!-- <div class="col-md-1 align-self-center">
                <span style="font-size: large; font-weight: bold;">Dst:</span>
            </div> -->
            <!-- dst file input -->
            <div class="col">
                <input type="file" name="file_dst" accept=".epub" class="form-control">
            </div>
            <!-- dst lt select -->
            <div class="col-md-auto align-self-center">
                <select name="lt_dst" class="form-select">
                    {%- for lt in lts_list %}
                    <option {% if lt.tag==lt_dst_default %}selected {% else %}{% endif %}value="{{ lt.tag }}">
                        {{ lt.name }}
                    </option>
                    {%- endfor %}
                </select>
            </div>
        </div>

        <!-- submit button -->
        <div class="row mb-4 mt-2">
            <div class="col d-flex justify-content-center">
                <input type="submit" value="Align" class="btn btn-info">
            </div>
        </div>

    </form>
</div>

{% endblock %}
